<div class="section-divider" id="references">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <header class="section-heading text-center">
                    <h3>References</h3>
                </header>
                <div class="references__container">
                    <i class='bx bxs-quote-left'></i>
                    <div class="owl-carousel testimonials-carousel">
                        <div class="testimonial-item">
                            <img src="../../assets/images/Chaitanya.jpg" class="testimonial-img" alt=""
                                data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="300"
                                data-aos-offset="0">
                            <h3 data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="400"
                                data-aos-offset="0">Chaitanya Mirpagar</h3>
                            <h4 data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="300"
                                data-aos-offset="0">Sr. Software Devloper, Augmented Transformations</h4>
                            <p data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="500"
                                data-aos-offset="0">
                                I have worked with logesh for past 2 years, he is been my team member since then we have delivered many projects as a team, he was always handling the front end part for any project as great skilled and experienced professional.
                                Apart from that as a person he is been great friend to have.
                            </p>
                        </div>

                        <div class="testimonial-item">
                            <img src="../../assets/images/testimonial-1.jpg" class="testimonial-img" alt=""
                                data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="300"
                                data-aos-offset="0">
                            <h3 data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="400"
                                data-aos-offset="0">Sandeep Sangvekar</h3>
                            <h4 data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="300"
                                data-aos-offset="0">Sr. Software Devloper, Augmented Tranformations</h4>
                            <p data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="500"
                                data-aos-offset="0">
                                Logesh is an exceptional Angular developer whose honesty, hard work, and helpful nature
                                have greatly benefited our team. His commitment to excellence and willingness to support
                                his colleagues make him an invaluable asset. I highly recommend Logesh for any project
                                or team in need of a dedicated and skilled developer.
                            </p>
                        </div>

                        <div class="testimonial-item">
                            <img src="../../assets/images/testimonial-3.jpg" class="testimonial-img" alt=""
                                data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="300"
                                data-aos-offset="0">
                            <h3 data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="400"
                                data-aos-offset="0">Maddison Hughes</h3>
                            <h4 data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="300"
                                data-aos-offset="0">Social worker</h4>
                            <p data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="500"
                                data-aos-offset="0">
                                Nulla at luctus ligula. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
                                enim quam, interdum nec turpis at, volutpat ultricies ligula.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>