<div class="section-divider" id="references">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <header class="section-heading text-center">
                    <h3>References</h3>
                </header>
                <div class="references__container">
                    <i class='bx bxs-quote-left'></i>
                    <div class="owl-carousel testimonials-carousel">
                        <div class="testimonial-item">
                            <img src="../../assets/images/testimonial-1.jpg" class="testimonial-img" alt=""
                                data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="300"
                                data-aos-offset="0">
                            <h3 data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="400"
                                data-aos-offset="0">Sandeep sangvekar</h3>
                            <h4 data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="300"
                                data-aos-offset="0">S/W Developer, Augmented Tranformations</h4>
                            <p data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="500"
                                data-aos-offset="0">
                                Logesh is an exceptional Angular developer whose honesty, hard work, and helpful nature
                                have greatly benefited our team. His commitment to excellence and willingness to support
                                his colleagues make him an invaluable asset. I highly recommend Logesh for any project
                                or team in need of a dedicated and skilled developer.
                            </p>
                        </div>

                        <div class="testimonial-item">
                            <img src="../../assets/images/testimonial-2.jpg" class="testimonial-img" alt=""
                                data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="300"
                                data-aos-offset="0">
                            <h3 data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="400"
                                data-aos-offset="0">Jake Gregory</h3>
                            <h4 data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="300"
                                data-aos-offset="0">News correspondent</h4>
                            <p data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="500"
                                data-aos-offset="0">
                                Curabitur bibendum euismod augue, eu rutrum metus consectetur id. Duis lacus erat,
                                gravida laoreet molestie eget, congue in erat.
                            </p>
                        </div>

                        <div class="testimonial-item">
                            <img src="../../assets/images/testimonial-3.jpg" class="testimonial-img" alt=""
                                data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="300"
                                data-aos-offset="0">
                            <h3 data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="400"
                                data-aos-offset="0">Maddison Hughes</h3>
                            <h4 data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="300"
                                data-aos-offset="0">Social worker</h4>
                            <p data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="500"
                                data-aos-offset="0">
                                Nulla at luctus ligula. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
                                enim quam, interdum nec turpis at, volutpat ultricies ligula.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>