<section class="section-divider" id="about">
    <div class="container">
        <mat-card class="shadow-sm rounded-2 border border-light-subtle" data-aos="slide-right" data-aos-delay="100"
            data-aos-duration="500" data-aos-anchor-placement="top-center">
            <mat-card-content>
                <div class="row">
                    <div class="col-12 col-lg-3 col-md-12 d-flex flex-column justify-content-center align-items-center">
                        <div class="box" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="300"
                            data-aos-offset="0">
                            <div class="content">
                                <img src="../../assets/images/profile-pic.jpg" alt="profile picture">
                                <p class="mb-0">Logesh kumaran<br><span>Full Stack Developer</span></p>
                                <a href="mailto:logeshkumaran15@gmail.com">Say hi!</a>
                            </div>
                        </div>
                        <div class="social_links mt-2" data-aos="fade-zoom-in" data-aos-easing="ease-in-back"
                            data-aos-delay="300" data-aos-offset="0">
                            <a href="https://github.com/logeshkumaran-ui" target="_blank" title="My github profile"><i
                                    class='bx bxl-github'></i></a>
                            <a href="https://www.linkedin.com/in/logesh-kumaran-68a8831b1/" target="_blank"
                                title="My linkedin profile"><i class='bx bxl-linkedin'></i></a>
                        </div>
                    </div>
                    <div class="col-12 col-lg-9 col-md-12">
                        <div class="about">
                            <header class="section-heading">
                                <h3 data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="400"
                                    data-aos-offset="0">About Me</h3>
                            </header>
                            <h5 class="mb-0" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="400"
                                data-aos-offset="0"><span>Name:</span> Logesh kumaran</h5>
                            <h6 data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="400"
                                data-aos-offset="0"><span>Profession:</span> Full Stack Developer</h6>
                            <p class="my-0" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="500"
                                data-aos-offset="0">
                                <span class="text-mat-primary">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em"
                                        viewBox="0 0 24 24">
                                        <path fill="currentColor"
                                            d="M18.4 20.75h-.23a16.73 16.73 0 0 1-7.27-2.58a16.58 16.58 0 0 1-5.06-5.05a16.72 16.72 0 0 1-2.58-7.29A2.3 2.3 0 0 1 3.8 4.1a2.32 2.32 0 0 1 1.6-.84H8a2.36 2.36 0 0 1 2.33 2a9.29 9.29 0 0 0 .53 2.09a2.37 2.37 0 0 1-.54 2.49l-.61.61a12 12 0 0 0 3.77 3.75l.61-.6a2.37 2.37 0 0 1 2.49-.54a9.57 9.57 0 0 0 2.09.53a2.35 2.35 0 0 1 2 2.38v2.4a2.36 2.36 0 0 1-2.35 2.36ZM8 4.75H5.61a.87.87 0 0 0-.61.31a.83.83 0 0 0-.2.62a15.17 15.17 0 0 0 2.31 6.62a15 15 0 0 0 4.59 4.59a15.34 15.34 0 0 0 6.63 2.36A.89.89 0 0 0 19 19a.88.88 0 0 0 .25-.61V16a.86.86 0 0 0-.74-.87a11.42 11.42 0 0 1-2.42-.6a.87.87 0 0 0-.91.19l-1 1a.76.76 0 0 1-.9.12a13.53 13.53 0 0 1-5.11-5.1a.74.74 0 0 1 .12-.9l1-1a.85.85 0 0 0 .19-.9a11.28 11.28 0 0 1-.6-2.42a.87.87 0 0 0-.88-.77" />
                                    </svg>
                                </span>
                                +91 8072417812
                            </p>
                            <p data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="500"
                                data-aos-offset="0">
                                <span class="text-mat-primary">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em"
                                        viewBox="0 0 24 24">
                                        <path fill="currentColor"
                                            d="M19 4.25H5A1.76 1.76 0 0 0 3.25 6v12A1.76 1.76 0 0 0 5 19.75h14A1.76 1.76 0 0 0 20.75 18V6A1.76 1.76 0 0 0 19 4.25M5 5.75h14a.25.25 0 0 1 .25.25v1.54L12 11.16L4.75 7.54V6A.25.25 0 0 1 5 5.75m14 12.5H5a.25.25 0 0 1-.25-.25V9.21l6.91 3.46a.76.76 0 0 0 .68 0l6.91-3.46V18a.25.25 0 0 1-.25.25" />
                                    </svg>
                                </span>
                                <a href="mailto:logeshkumaran15@gmail.com">
                                    logeshkumaran15@gmail.com</a>
                            </p>
                            <p class="my-0" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="600"
                                data-aos-offset="0">
                                I'm an Associate at Cognizant.
                                An ambitious and result-driven Angular + .Net Developer with an exhilarating journey of 3 years
                                in the tech world. My expertise lies in crafting stunning user interfaces and delivering
                                top-notch frontend solutions for a diverse range of products.
                            </p>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</section>