section {
  overflow-x: clip;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// .animate {
//   transition: 1s;
//   animation: slide-left linear;
//   animation-timeline: view();
// }

.mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) {
  background-color: #4caf50;
  color: #ffd740;
}

::ng-deep.mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled)
  .mdc-evolution-chip__text-label {
  color: #ffd740 !important;
}

//keyframe animations
@keyframes slide-left {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  40%,
  60% {
    transform: translateX(0);
    opacity: 1;
  }
  80%,
  100% {
    transform: scale(0.5);
    opacity: 0;
  }
}
