<div class="section-divider" id="projects">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <header class="section-heading text-center mb-3">
                    <h3>Projects</h3>
                </header>
                <div class="projects-wrapper">
                    <div class="projects-card">
                        <mat-card class="shadow-sm rounded-2 border border-light-subtle mb-3">
                            <mat-card-content>
                                <div class="row">
                                    <div class="col-12">
                                        <h4>weather app</h4>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="projects-card">
                        <mat-card class="shadow-sm rounded-2 border border-light-subtle mb-3">
                            <mat-card-content>
                                <div class="row">
                                    <div class="col-12">
                                        <h4>weather app</h4>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="projects-card">
                        <mat-card class="shadow-sm rounded-2 border border-light-subtle mb-3">
                            <mat-card-content>
                                <div class="row">
                                    <div class="col-12">
                                        <h4>weather app</h4>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="projects-card">
                        <mat-card class="shadow-sm rounded-2 border border-light-subtle mb-3">
                            <mat-card-content>
                                <div class="row">
                                    <div class="col-12">
                                        <h4>weather app</h4>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="projects-card">
                        <mat-card class="shadow-sm rounded-2 border border-light-subtle mb-3">
                            <mat-card-content>
                                <div class="row">
                                    <div class="col-12">
                                        <h4>weather app</h4>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="projects-card">
                        <mat-card class="shadow-sm rounded-2 border border-light-subtle mb-3">
                            <mat-card-content>
                                <div class="row">
                                    <div class="col-12">
                                        <h4>weather app</h4>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="projects-card">
                        <mat-card class="shadow-sm rounded-2 border border-light-subtle mb-3">
                            <mat-card-content>
                                <div class="row">
                                    <div class="col-12">
                                        <h4>weather app</h4>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="projects-card">
                        <mat-card class="shadow-sm rounded-2 border border-light-subtle mb-3">
                            <mat-card-content>
                                <div class="row">
                                    <div class="col-12">
                                        <h4>weather app</h4>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="projects-card">
                        <mat-card class="shadow-sm rounded-2 border border-light-subtle mb-3">
                            <mat-card-content>
                                <div class="row">
                                    <div class="col-12">
                                        <h4>weather app</h4>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>