<section class="section-divider" id="projects">
    <div class="container" id="projects-container">
        <header class="section-heading text-center mb-3">
            <h3>Projects</h3>
        </header>
        <div class="row p-5" id="projects-row">
            <div class="col-6 project-card" *ngFor="let project of projects" data-aos="fade-up" data-aos-delay="100"
                data-aos-duration="500" data-aos-anchor-placement="top-top">
                <div class="pcard">
                    <div class="card-inner">
                        <div class="card-front">
                            <h3>{{project.title}}</h3>
                            <p>{{project.description}}</p>
                        </div>
                        <div class="card-back">
                            <img src="{{project.coverpic}}" alt="project picture" height="">
                            <p *ngFor="let tech of project.techstack">{{tech}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>