<div class="section-divider" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex flex-column justify-content-center align-items-center">
                <div class="contact-container mt-3">
                    <mat-card class="contact-card" data-aos="zoom-in-up" data-aos-delay="100" data-aos-duration="500"
                        data-aos-anchor-placement="top-center">
                        <header class="section-heading">
                            <h3 class="my-3 text-center">Contact</h3>
                        </header>
                        <mat-card-content>
                            <form class="contact-form" [formGroup]="contactForm" (ngSubmit)="submitForm()">
                                <div class="form-row gap-2">
                                    <mat-form-field class="flex-grow">
                                        <input matInput placeholder="Your Name" formControlName="name" required>
                                    </mat-form-field>
                                    <mat-form-field class="flex-grow">
                                        <input matInput placeholder="Your Email" formControlName="email" required>
                                    </mat-form-field>
                                </div>
                                <div class="form-row">
                                    <mat-form-field class="flex-grow">
                                        <input matInput placeholder="Subject" formControlName="subject" required>
                                    </mat-form-field>
                                </div>
                                <div class="form-row">
                                    <mat-form-field class="flex-grow">
                                        <textarea matInput placeholder="Message" formControlName="message"
                                            required></textarea>
                                    </mat-form-field>
                                </div>
                                <button mat-raised-button color="primary" type="submit">Send</button>
                            </form>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>