<app-home></app-home>
<!-- <mat-sidenav-container class="sections">
    <mat-sidenav #sidenav>
        <app-sidednav-mobile (closeSideNav)="sidenav.close()"></app-sidednav-mobile>
    </mat-sidenav>

    <mat-sidenav-content>
        <app-nav-bar class="sticky-top" *ngIf="visible" (SideNavToggle)="sidenav.toggle()"></app-nav-bar>
        <app-about></app-about>
        <app-experience></app-experience>
        <app-education></app-education>
        <app-skills></app-skills>
        <app-projects></app-projects>
        <app-references></app-references>
        <app-contact></app-contact>
        <app-footer></app-footer>
    </mat-sidenav-content>
</mat-sidenav-container> -->
<div class="sections">
    <app-nav-bar class="sticky-top"></app-nav-bar>
    <app-about></app-about>
    <app-experience></app-experience>
    <app-education></app-education>
    <app-skills></app-skills>
    <app-projects></app-projects>
    <app-references></app-references>
    <app-contact></app-contact>
    <app-footer></app-footer>
</div>