@use "@angular/material" as mat;
@include mat.core();

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  font-family: "solway", sans-serif;
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  color: #3a724f;
  pointer-events: none;
}

.counter {
  position: fixed;
  left: 50px;
  bottom: 50px;
  display: flex;
  height: 100px;
  font-size: 100px;
  line-height: 102px;
  clip-path: polygon(0 0, 100% 0, 100% 100px, 0 100px);
  font-weight: 400;
}

.counter-1,
.counter-2,
.counter-3 {
  position: relative;
  top: -15px;
}

.num1offset1 {
  position: relative;
  top: 0px;
  margin-left: 26px;
}

.num1offset2 {
  position: relative;
  top: 0px;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 50px;
  display: flex;
  background: rgb(80, 80, 80);
}

.loader-1 {
  position: relative;
  background: #3a724f;
  width: 200px;
}

.loader-2 {
  position: relative;
  background: #3a724f;
  width: 100px;
}

.bar {
  height: 50px;
}

.website-content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.section-heading h3 {
  display: inline-block;
  text-align: left;
  padding-bottom: 5px;
  color: #4caf50;
  position: relative;
  border-bottom: 1px solid #4caf50;
}

.section-heading h3::before {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  bottom: 0px;
  right: 0;
  border-top: 10px solid;
  border-right: 10px solid;
  border-color: transparent #4caf50;
}

.section-heading h3::after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  bottom: 0px;
  left: 0;
  border-top: 10px solid;
  border-left: 10px solid;
  border-color: transparent #4caf50;
}

.section-divider {
  padding: 80px 0;
}

/*timeline style for experience and education*/
ul.timeline {
  list-style-type: none;
  position: relative;
}

ul.timeline::before {
  content: "";
  display: inline-block;
  position: absolute;
  background: #777;
  left: 29px;
  width: 2px;
  height: 100%;
}

ul.timeline > li {
  margin: 20px 0;
  padding-left: 20px;
}

ul.timeline > li:before {
  content: " ";
  background: #ffffff;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 2px solid #4caf50;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.text-mat-primary {
  color: #4caf50;
}

.text-accent {
  color: #ffd740;
}

$custom-typography: mat.define-typography-config(
  $font-family: "solway",
);

$light-primary: mat.define-palette(mat.$green-palette, 500);
$light-accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);

$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $light-primary,
      accent: $light-accent,
    ),
    typography: $custom-typography,
  )
);

$dark-primary: mat.define-palette(mat.$green-palette);
$dark-accent: mat.define-palette(mat.$amber-palette);
$mat-grey: mat.define-palette(mat.$grey-palette);
$grey-900: mat.get-color-from-palette($mat-grey, 900);

$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
    ),
    typography: $custom-typography,
  )
);

.apply-custom-typography {
  @include mat.typography-hierarchy($custom-typography);
  // @include mat.all-component-themes($dark-theme);
  // @include mat.all-component-colors($light-theme);
}
body.light-theme {
  // @include mat.all-component-themes($light-theme);
  @include mat.all-component-colors($light-theme);
  // @include mat.button-color($light-theme);
}

body.dark-theme {
  // @include mat.all-component-themes($dark-theme);
  @include mat.all-component-colors($dark-theme);
  // @include mat.button-color($dark-theme);
  background-color: $grey-900 !important;
  color: #f1f1f1 !important;
}

//breakpoints
@media (max-width: 1200px) {
  html {
    font-size: 90%;
  }
  .nav__item {
    padding: 5px !important;
    margin-right: 2px !important;
    font-size: 78%;
  }

  .education-img {
    width: 90% !important;
    height: 90% !important;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 85%;
  }

  .education-img {
    width: 80% !important;
    height: 80% !important;
  }

  .toggle-btn {
    display: block !important;
  }

  .nav {
    position: absolute;
    top: 100%;
    left: -100%;
    width: 100%;
    padding: 1rem 10%;
    background-color: #4caf50;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    transition: 0.25s ease-in;
    transition-delay: 0.25s;
  }

  .nav.navactive {
    left: 0;
    transition-delay: 0s;
  }

  .nav__list {
    display: flex !important;
    flex-direction: column;
    align-items: flex-start !important;
    justify-content: center !important;
    gap: 5px;
    margin: 0 !important;
  }
}

@media (max-width: 768px) {
  // .box {
  //   width: 70% !important;
  //   height: 70% !important;
  // }

  .content a {
    font-size: 0.5em !important;
    padding: 8px 15px !important;
  }

  html {
    font-size: 80%;
  }

  .education-img {
    width: 70% !important;
    height: 100px !important;
  }
}
@media (max-width: 520px) {
  .social_links {
    width: 90px !important;
  }
  .social_links a {
    height: 38px !important;
    width: 38px !important;
  }

  .education-img {
    width: 60% !important;
    height: 60% !important;
  }
}
@media (max-width: 462px) {
  html {
    font-size: 70%;
  }

  .education-img {
    width: 50% !important;
    height: 50% !important;
  }
}

@media (max-width: 371px) {
  html {
    font-size: 50%;
  }

  .education-img {
    width: 50% !important;
    height: 50% !important;
  }
}
