@use "@angular/material" as mat;
@include mat.core();

* {
  scroll-behavior: smooth;
}

body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "solway", sans-serif;
}

.section-heading h3 {
  display: inline-block;
  text-align: left;
  padding-bottom: 5px;
  color: #4caf50;
  position: relative;
  border-bottom: 1px solid #4caf50;
}

.section-heading h3::before {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  bottom: 0px;
  right: 0;
  border-top: 10px solid;
  border-right: 10px solid;
  border-color: transparent #4caf50;
}

.section-heading h3::after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  bottom: 0px;
  left: 0;
  border-top: 10px solid;
  border-left: 10px solid;
  border-color: transparent #4caf50;
}

.section-divider {
  padding: 80px 0;
}

//animation reload and scroll
// .revealAnimate {
//   position: absolute;
//   top: 0;
//   right: 0;
//   width: 100%;
//   height: 100%;
//   // background: yellowgreen;
//   background: #ffffff;
//   z-index: 98;
// }

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.text-mat-primary {
  color: #4caf50;
}

.text-accent {
  color: #ffd740;
}

$custom-typography: mat.define-typography-config(
  $font-family: "solway",
);

$light-primary: mat.define-palette(mat.$green-palette, 500);
$light-accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);

$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $light-primary,
      accent: $light-accent,
    ),
    typography: $custom-typography,
  )
);

$dark-primary: mat.define-palette(mat.$green-palette);
$dark-accent: mat.define-palette(mat.$amber-palette);
$mat-grey: mat.define-palette(mat.$grey-palette);
$grey-900: mat.get-color-from-palette($mat-grey, 900);

$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
    ),
    typography: $custom-typography,
  )
);

.apply-custom-typography {
  @include mat.typography-hierarchy($custom-typography);
  // @include mat.all-component-themes($dark-theme);
  // @include mat.all-component-colors($light-theme);
}
body.light-theme {
  // @include mat.all-component-themes($light-theme);
  @include mat.all-component-colors($light-theme);
  // @include mat.button-color($light-theme);
}

body.dark-theme {
  // @include mat.all-component-themes($dark-theme);
  @include mat.all-component-colors($dark-theme);
  // @include mat.button-color($dark-theme);
  background-color: $grey-900 !important;
  color: #f1f1f1 !important;
}

//breakpoints
@media (max-width: 1200px) {
  html {
    font-size: 90%;
  }
  .nav__item {
    padding: 5px !important;
    margin-right: 2px !important;
    font-size: 78%;
  }

  .education-img {
    width: 90% !important;
    height: 90% !important;
  }

  // .card-front h3 {
  //   font-size: 95%;
  // }

  // .card-front p {
  //   font-size: 95%;
  // }
}

@media (max-width: 991px) {
  html {
    font-size: 85%;
  }

  .education-img {
    width: 80% !important;
    height: 80% !important;
  }
  // .card-front h3 {
  //   font-size: 85% !important;
  // }

  // .card-front p {
  //   font-size: 85% !important;
  // }
}
@media (max-width: 768px) {
  .box {
    width: 70% !important;
    height: 70% !important;
  }

  .content a {
    font-size: 0.5em !important;
    padding: 8px 15px !important;
  }

  html {
    font-size: 80%;
  }

  .education-img {
    width: 70% !important;
    height: 100px !important;
  }
  // .card-front h3 {
  //   font-size: 80% !important;
  // }

  // .card-front p {
  //   font-size: 80% !important;
  // }
}
@media (max-width: 520px) {
  .social_links {
    width: 90px !important;
  }
  .social_links a {
    height: 38px !important;
    width: 38px !important;
  }

  .education-img {
    width: 60% !important;
    height: 60% !important;
  }
}
@media (max-width: 462px) {
  html {
    font-size: 70%;
  }

  .education-img {
    width: 50% !important;
    height: 50% !important;
  }
  // .card-front h3 {
  //   font-size: 70% !important;
  // }

  // .card-front p {
  //   font-size: 70% !important;
  // }
}
@media (max-width: 371px) {
  html {
    font-size: 50%;
  }

  .education-img {
    width: 50% !important;
    height: 50% !important;
  }
  // .card-front h3 {
  //   font-size: 50% !important;
  // }

  // .card-front p {
  //   font-size: 50% !important;
  // }
}
