<div class="container-fluid" id="home">
    <div class="row header">
        <div class="col-12 header-image"
            [ngStyle]="{'background-image': 'url(\'../../assets/images/professional-background-1.jpg\')'}">
        </div>
        <div class="col-12">
            <div class="heading">
                <h1 class="heading__name" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="100"
                    data-aos-offset="0">
                    Hi, I'm Logesh Kumaran
                </h1>
                <div class="text-animate">
                    <p class="heading__role" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="200"
                        data-aos-offset="0">I'm a web developer based in
                        India.</p>
                </div>
                <div class="heading__btnbox" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="300"
                    data-aos-offset="0">
                    <a href="#contact"><i class='bx bxs-hand-right'></i> Hire me</a>
                    <a href="https://drive.google.com/file/d/1FZc55FRuuBSmA8igkqrhrna58zwfx8Lr/view?usp=sharing"
                        target="_blank"><i class='bx bxs-download'></i> Resume</a>
                </div>
            </div>
            <div class="scroll-down">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</div>